
<div class="container-fluid">

  <h1>CREATE YOUR EVENT</h1>

  <p>And earn 10 forks per guest</p>

  <form class="needs-validation" novalidate action="/meal-events/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="eventName"> EventName </label>
      <input class="form-control" type="text" name="eventName" id="eventName" placeholder="Add a name to your event">
    </div>

    <div class="form-group">
      <label for="date"> Date </label>
      <input class="form-control" type="datetime-local" name="date" id="date">
    </div>


    <div class="form-group">
      <label for="cuisine"> Cuisine </label>
      <input class="form-control" type="text" name="cuisine" id="cuisine" placeholder="Cuisine">
    </div>
    <div class="form-group">
      <label for="dish"> Dish </label>
      <input class="form-control" type="text" name="dish" id="dish" placeholder="Dish">
    </div>
    <div class="form-group">
      <label for="eventImg"> Event Photo </label>
      <input class="form-control" type="file" name="eventImg" id="eventImg">
    </div>
    <div class="form-group">
      <label for="eventDescription"> Description </label>
      <input class="form-control" type="text" name="eventDescription" id="eventDescription" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="numberAttend"> Number of guests </label>
      <input class="form-control" type="number" name="numberAttend" id="numberAttend">
    </div>
    <div style="display: none">
      <label for="host"> Host </label>
      <input type="text" name="host" id="host">
    </div>
    <div style="display: none">
      <label for="guest">Guest </label>
      <input type="text" name="guest" id="guest">
    </div>
    <div style="display: none">
      <label for="costScore"> Score </label>
      <input type="number" name="costScore" id="costScore">
    </div>

    <button class="btn btn-primary"> Publish event </button>
  </form>

  <br>

  <p><a href="/meal-events">Back to Events</a></p>
</div>