<div class="container-fluid">
  <h1>ALL THE EVENTS</h1>
  <h2>See all the events in your neighbourhood</h2>

  {{#if allMealEventsFromDB}}
  <ul>
    {{#each allMealEventsFromDB}}
      <li>
        <a href="/meal-events/{{ this._id }}">{{ this.eventName }}</a>
        - {{ this.cuisine }}
      </li>
    {{/each}}
  </ul>
  {{else}}
    <p>Ooops! No meal events has been found in your neighbourhood! </p>
    <p>Will you be the first one? </p>
  {{/if}}


  <a href="/meal-events/create">Create a new event</a>
</div>
