<div class="container-fluid">
  <h1>ALL THE EVENTS</h1>

  <ul>
    {{#each allMealEventsFromDB}}
      <li>
        <a href="/meal-events/{{ this._id }}">{{ this.eventName }}</a>
        - {{ this.cuisine }}
      </li>
    {{/each}}
  </ul>

  <a href="/meal-events/create">
    Click here to add a new event
  </a>

  <p><a href="/profile/{{userInfo._id}}">View my profile</a></p>
</div>