# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.bak
*.swp
*~
*#

# System Files
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon
Thumbs.db
desktop.ini
._*
*.swp
.Spotlight*
.Trashes

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env
