<h1>NEIGHBOURHOOD</h1>
<p>Welcome to our app</p>

<p><a href="/signup">Signup</a></p>

<p><a href="/login">Login</a></p>

<form action="/search" method="GET">
    <input type="text" name="zipcode" placeholder="Search a zipcode">
    <button type="submit">Search</button>
</form>