<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- google icon material -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#if userInfo}}
    <nav class="navbar fixed-top navbar navbar-expand-lg navbar-light bg-light justify-content-end">
      <div class="container"></div>
        <p>You have 10 forks</p>
        <a href="/signout"><button type="button" class="btn btn-danger">Logout</button></a>
      </div>
  </nav>
  {{/if}}

  <div class="container-fluid">
    {{{body}}}
  </div>


  {{#if userInfo}}
  <nav class="navbar fixed-bottom navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="nav-item nav-link active" href="/meal-events">
        <i class="material-icons">restaurant_menu</i><span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link active" href="/profile/{{userInfo._id}}/events">
        <i class="material-icons">calendar_today</i><span class="sr-only">(current)</span>
      </a>
      <a class="navbar-brand" href="/meal-events/create">
        <i class="material-icons">add_circle</i>
      </a>
      <a class="nav-item nav-link active" href="#">
        <i class="material-icons">mail_outline</i><span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link active" href="/profile/{{userInfo._id}}">
        <i class="material-icons">person</i><span class="sr-only">(current)</span>
      </a>
    </div>
  </nav>
  {{/if}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
</body>

</html>