@media print {
    .container {
      width: auto;
    }
  }

  * {
    font-family: 'Noto Sans', sans-serif;
  }

body {
  background-image: url('./../images/background.png');
  background-size: auto;
  background-repeat: repeat;
}

.container-fluid {
  margin: 100px 0 100px;
}

.jumbotron {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.navbar-text {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px;
}

p.navbar-brand {
  padding-bottom: 0;
  margin-bottom: 0;
}


form.form-inline {
    padding-bottom: 0;
    margin-bottom: 0;
  }



#plus-icon {
  font-size: 55px;
  color: rgb(54, 130, 211);
}

.btn-primary {
  background-color: rgb(28, 184, 163);
  border: 1px solid rgb(28, 184, 163);
}

#title-main-page {
  text-shadow: 0 0 5px whitesmoke;
}

#logo-img {
  height: 42px;
}

.jumbotron {
  opacity: 0.7;
}

#map {
  width: 100%;
  padding-bottom: 10px;
}

#box-myevents {
  opacity: 0.9;
}