<h1>MY EVENTS</h1>

<h2>EVENTS I HOST</h2>
<ul>
{{#each mealEventHost}}
    <li><a href="/meal-events/{{this._id}}">{{this.eventName}}</a></li>
{{/each}}
</ul>

<h2>EVENTS I ATTEND</h2>
<ul>
{{#each mealEventGuest}}
    <li><a href="/meal-events/{{this._id}}">{{this.eventName}}</a></li>
{{/each}}
</ul>